#DB Credentials
DEV_DB_HOST='127.0.0.1'
DEV_DB_PORT= 3306
DEV_DB_USERNAME=root
DEV_DB_PASSWORD=
DEV_DB_NAME=reutrack
DEV_DB_DIALECT=mysql

#Backend Server
HOST= 'localhost'
PORT= 3100

#Mail Server
MAIL_HOST=smtp.gmail.com
MAIL_SERVICE=gmail
MAIL_PORT=465
MAIL_USER= correo@gmail.com
MAIL_PASS= fnlf qdru bkcd fhpy

#OTP Parameters
TWO_FACTOR_ENCODING = base32
TWO_FACTOR_WINDOW = 1
TWO_FACTOR_STEP = 60

#JWT
SECRET_ACCESS_TOKEN = TU_SECRET_ACCESS_TOKEN

#CORS http://10.100.122.2/
FRONTEND_HOST = 'localhost'
FRONTEND_PORT = 4200

API_KEY=tu_super_secreta_clave_api